In [1]:
import pandas as pd

In [2]:
file_to_load = "Resources/purchase_data.csv"
purchase_data = pd.read_csv(file_to_load)

In [3]:
# purchase_data.head()

In [4]:
purchases_count = len(purchase_data)
# print(purchases_count)

In [5]:
unique_items = purchase_data["Item Name"].unique()
unique_items_num = len(unique_items)
# print(unique_items_num)

In [6]:
avg_item_price = purchase_data["Price"].mean()
# print(avg_item_price)

In [7]:
players = purchase_data["SN"].unique()
player_count = len(players)
# print(player_count)

In [8]:
total_revenue = purchase_data["Price"].sum()
# print(total_revenue)

In [9]:
summary = pd.DataFrame({"Player count":[player_count], "Purchases":[purchases_count], "Unique Items":[unique_items_num], "Average Item Price":[avg_item_price], "Total Revenue":[total_revenue]})
# summary

In [10]:
data_demographics = purchase_data.copy()
renamed_df = data_demographics[["SN", "Gender"]]
droppedvalues = renamed_df.drop_duplicates(subset ="SN",keep = "first")

gender_group = droppedvalues.groupby(["Gender"])
gender_summary = gender_group.count()

gender_summary = gender_group.count()
gender_summary["Percent"] = gender_summary.sum(axis=1)
gender_summary["Percent"] = gender_summary["Percent"] / player_count *100
summary_gender = gender_summary.rename(columns={"SN":"User Count"})

In [11]:
summary_gender = summary_gender.reset_index()
# summary_gender

In [12]:
gender_df = purchase_data[["Gender", "Price"]]

In [13]:
new_df = gender_df.groupby(["Gender"])
aa = new_df.sum()
a = aa.rename(columns={"Price":"Total Revenue"})

In [14]:
bb = new_df.mean()
b = bb.rename(columns={"Price":"Avg Purchase Price"})

In [15]:
cc = new_df.count()
c = cc.rename(columns={"Price":"Purchase Count"})
c = c.reset_index()

In [16]:
c = c.merge(b,on="Gender")
c = c.merge(a,on="Gender")

c = c.merge(summary_gender,on="Gender")

c["Avg Total Purchase per Person"] = c["Total Revenue"]/c["User Count"]

In [17]:
gendersummaryfinal = c[["Gender", "Purchase Count", "Avg Purchase Price", "Total Revenue","Avg Total Purchase per Person"]]
# gendersummaryfinal

In [18]:
bins = [0, 9, 14, 19, 24, 29,34,39,99]
labels = ["<10", "10-14", "15-19", "20-24", "25-29","30-34","35-39","+40"]
purchase_data["Age Bucket"] = pd.cut(purchase_data["Age"], bins, labels=labels, include_lowest=True)

unique_data = purchase_data.drop_duplicates(subset ="SN",keep = "first")
age_demographics = unique_data.groupby(["Age Bucket"])
age_demographics = age_demographics[["SN","Purchase ID"]]


agedemo = age_demographics.count()
agedemo["Purchase ID"]=agedemo["Purchase ID"]/player_count *100
agedemo = agedemo.rename(columns={"SN": "Total Count",
                                        "Purchase ID": "Percentage of Players"})

agedemo = agedemo.reset_index()

# agedemo

In [19]:
age_purchasing = purchase_data.groupby(["Age Bucket"])
purchase_count = age_purchasing[["Purchase ID"]].count()

In [20]:
average_purchase_price = age_purchasing["Price"].sum() / age_purchasing["Purchase ID"].count()
purchase_count["Avg Purchase Price"] = average_purchase_price

In [21]:
purchase_count["Total Purchase Value"] = age_purchasing["Price"].sum()

In [22]:
purchase_count = purchase_count.merge(agedemo,on="Age Bucket")

In [23]:
purchase_count["Avg Total Purchase per Person"] = purchase_count["Total Purchase Value"] / purchase_count["Total Count"]

In [24]:
purchase_count = purchase_count[["Age Bucket","Purchase ID","Avg Purchase Price", "Total Purchase Value","Avg Total Purchase per Person"]]

In [25]:
# purchase_count

In [26]:
top_spenders = purchase_data.groupby(["SN"])

In [27]:
top_summary = top_spenders[["Purchase ID"]].count()

top_summary["Average Purchase Price"] = (top_spenders["Price"].sum() / top_spenders["Purchase ID"].count())
top_summary["Total Purchase Value"] = top_spenders[["Price"]].sum()
top_summary_sorted = top_summary.sort_values(["Total Purchase Value"], ascending=False)
top_summary_sorted = top_summary_sorted.reset_index()
# top_summary_sorted.head()

In [28]:
popular_item = purchase_data[["Item ID", "Item Name", "Price"]]
popular = popular_item.groupby(["Item ID","Item Name"])

list_popular = popular[["Item ID"]].count()
list_popular["Item Price"] =  popular["Price"].sum() / popular["Item ID"].count()
list_popular["Total Purchase Value"] =  popular[["Price"]].sum()
list_popular_renamed = list_popular.rename(columns={"Item ID": "Purchase Count"})
sorted_popular = list_popular_renamed.sort_values(["Purchase Count"], ascending=False)
# sorted_popular

In [29]:
profitable = list_popular.sort_values(["Total Purchase Value"], ascending=False)

In [30]:
# profitable

In [31]:
print("----------------------------------------------------------------------------------------")
print("Heroes of Pymoli - Sales Summary")
print("----------------------------------------------------------------------------------------")

----------------------------------------------------------------------------------------
Heroes of Pymoli - Sales Summary
----------------------------------------------------------------------------------------

In [32]:
summary

   Player count  Purchases  Unique Items  Average Item Price  Total Revenue
0           576        780           179            3.050987        2379.77

In [33]:
summary_gender

                  Gender  User Count    Percent
0                 Female          81  14.062500
1                   Male         484  84.027778
2  Other / Non-Disclosed          11   1.909722

In [34]:
gendersummaryfinal

,Gender,Purchase Count,Avg Purchase Price,Total Revenue,Avg Total Purchase per Person
0,Female,113,3.203009,361.94,4.468395
1,Male,652,3.017853,1967.64,4.065372
2,Other / Non-Disclosed,15,3.346000,50.19,4.562727

In [35]:
agedemo

  Age Bucket  Total Count  Percentage of Players
0        <10           17               2.951389
1      10-14           22               3.819444
2      15-19          107              18.576389
3      20-24          258              44.791667
4      25-29           77              13.368056
5      30-34           52               9.027778
6      35-39           31               5.381944
7        +40           12               2.083333

In [36]:
purchase_count

,Age Bucket,Purchase ID,Avg Purchase Price,Total Purchase Value,Avg Total Purchase per Person
0,<10,23,3.353478,77.13,4.537059
1,10-14,28,2.956429,82.78,3.762727
2,15-19,136,3.035956,412.89,3.858785
3,20-24,365,3.052219,1114.06,4.318062
4,25-29,101,2.900990,293.00,3.805195
5,30-34,73,2.931507,214.00,4.115385
6,35-39,41,3.601707,147.67,4.763548
7,+40,13,2.941538,38.24,3.186667

In [37]:
top_summary_sorted

              SN  Purchase ID  Average Purchase Price  Total Purchase Value
0      Lisosia93            5                3.792000                 18.96
1    Idastidru52            4                3.862500                 15.45
2     Chamjask73            3                4.610000                 13.83
3         Iral74            4                3.405000                 13.62
4    Iskadarya95            3                4.366667                 13.10
..           ...          ...                     ...                   ...
571  Ililsasya43            1                1.020000                  1.02
572     Irilis75            1                1.020000                  1.02
573      Aidai61            1                1.010000                  1.01
574   Chanirra79            1                1.010000                  1.01
575        Alo38            1                1.000000                  1.00

[576 rows x 4 columns]

In [38]:
sorted_popular

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,4.614615,59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.230000,50.76
145,Fiery Glass Crusader,9,4.580000,41.22
132,Persuasion,9,3.221111,28.99
108,"Extraction, Quickblade Of Trembling Hands",9,3.530000,31.77
...,...,...,...,...
42,The Decapitator,1,1.750000,1.75
51,Endbringer,1,4.660000,4.66
118,"Ghost Reaver, Longsword of Magic",1,2.170000,2.17
104,Gladiator's Glaive,1,1.930000,1.93
91,Celeste,1,4.170000,4.17

In [39]:
profitable

,,Item ID,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,4.614615,59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.230000,50.76
82,Nirvana,9,4.900000,44.10
145,Fiery Glass Crusader,9,4.580000,41.22
103,Singed Scalpel,8,4.350000,34.80
...,...,...,...,...
28,"Flux, Destroyer of Due Diligence",2,1.060000,2.12
125,Whistling Mithril Warblade,2,1.000000,2.00
126,Exiled Mithril Longsword,1,2.000000,2.00
104,Gladiator's Glaive,1,1.930000,1.93
42,The Decapitator,1,1.750000,1.75