In [1]:
import pandas as pd

In [2]:
file_to_load = "Resources/purchase_data.csv"
purchase_data = pd.read_csv(file_to_load)

In [3]:
# purchase_data.head()

In [4]:
purchases_count = len(purchase_data)
# print(purchases_count)

In [5]:
unique_items = purchase_data["Item Name"].unique()
unique_items_num = len(unique_items)
# print(unique_items_num)

In [6]:
avg_item_price = purchase_data["Price"].mean()
# print(avg_item_price)

In [7]:
players = purchase_data["SN"].unique()
player_count = len(players)
# print(player_count)

In [8]:
total_revenue = purchase_data["Price"].sum()
# print(total_revenue)

In [9]:
summary = pd.DataFrame({"Player count":[player_count], "Purchases":[purchases_count], "Unique Items":[unique_items_num], "Average Item Price":[avg_item_price], "Total Revenue":[total_revenue]})
# summary

In [10]:
data_demographics = purchase_data.copy()
renamed_df = data_demographics[["SN", "Gender"]]
droppedvalues = renamed_df.drop_duplicates(subset ="SN",keep = "first")

gender_group = droppedvalues.groupby(["Gender"])
gender_summary = gender_group.count()

gender_summary = gender_group.count()
gender_summary["Percent"] = gender_summary.sum(axis=1)
gender_summary["Percent"] = gender_summary["Percent"] / player_count
summary_gender = gender_summary.rename(columns={"SN":"User Count"})

In [11]:
summary_gender = summary_gender.reset_index()
# summary_gender

In [12]:
gender_df = purchase_data[["Gender", "Price"]]

In [13]:
new_df = gender_df.groupby(["Gender"])
aa = new_df.sum()
a = aa.rename(columns={"Price":"Total Revenue"})

In [14]:
bb = new_df.mean()
b = bb.rename(columns={"Price":"Avg Purchase Price"})

In [15]:
cc = new_df.count()
c = cc.rename(columns={"Price":"Purchase Count"})
c = c.reset_index()

In [16]:
c = c.merge(b,on="Gender")
c = c.merge(a,on="Gender")

c = c.merge(summary_gender,on="Gender")

c["Avg Total Purchase per Person"] = c["Total Revenue"]/c["User Count"]

In [17]:
gendersummaryfinal = c[["Gender", "Purchase Count", "Avg Purchase Price", "Total Revenue","Avg Total Purchase per Person"]]
# gendersummaryfinal

In [18]:
bins = [0, 9, 14, 19, 24, 29,34,39,99]
labels = ["<10", "10-14", "15-19", "20-24", "25-29","30-34","35-39","+40"]
purchase_data["Age Bucket"] = pd.cut(purchase_data["Age"], bins, labels=labels, include_lowest=True)

unique_data = purchase_data.drop_duplicates(subset ="SN",keep = "first")
age_demographics = unique_data.groupby(["Age Bucket"])
age_demographics = age_demographics[["SN","Purchase ID"]]


agedemo = age_demographics.count()
agedemo["Purchase ID"]=agedemo["Purchase ID"]/player_count
agedemo = agedemo.rename(columns={"SN": "Total Count",
                                        "Purchase ID": "Percentage of Players"})

agedemo = agedemo.reset_index()

# agedemo

In [19]:
age_purchasing = purchase_data.groupby(["Age Bucket"])
purchase_count = age_purchasing[["Purchase ID"]].count()

In [20]:
average_purchase_price = age_purchasing["Price"].sum() / age_purchasing["Purchase ID"].count()
purchase_count["Avg Purchase Price"] = average_purchase_price

In [21]:
purchase_count["Total Purchase Value"] = age_purchasing["Price"].sum()

In [22]:
purchase_count = purchase_count.merge(agedemo,on="Age Bucket")

In [23]:
purchase_count["Avg Total Purchase per Person"] = purchase_count["Total Purchase Value"] / purchase_count["Total Count"]

In [24]:
purchase_count = purchase_count[["Age Bucket","Purchase ID","Avg Purchase Price", "Total Purchase Value","Avg Total Purchase per Person"]]

In [25]:
# purchase_count

In [26]:
top_spenders = purchase_data.groupby(["SN"])

In [27]:
top_summary = top_spenders[["Purchase ID"]].count()

top_summary["Average Purchase Price"] = (top_spenders["Price"].sum() / top_spenders["Purchase ID"].count())
top_summary["Total Purchase Value"] = top_spenders[["Price"]].sum()
top_summary_sorted = top_summary.sort_values(["Total Purchase Value"], ascending=False)
top_summary_sorted = top_summary_sorted.reset_index()
# top_summary_sorted.head()

In [28]:
popular_item = purchase_data[["Item ID", "Item Name", "Price"]]
popular = popular_item.groupby(["Item ID","Item Name"])

list_popular = popular[["Item ID"]].count()
list_popular["Item Price"] =  popular["Price"].sum() / popular["Item ID"].count()
list_popular["Total Purchase Value"] =  popular[["Price"]].sum()
list_popular_renamed = list_popular.rename(columns={"Item ID": "Purchase Count"})
sorted_popular = list_popular_renamed.sort_values(["Purchase Count"], ascending=False)
# sorted_popular

In [29]:
profitable = list_popular.sort_values(["Total Purchase Value"], ascending=False)

In [30]:
# profitable

In [31]:
# Fot¿rmat for all columns

----------------------------------------------------------------------------------------
Heroes of Pymoli - Sales Summary
----------------------------------------------------------------------------------------

In [32]:
summary["Average Item Price"] = summary["Average Item Price"].astype(float).map("${:,.2f}".format)
summary["Total Revenue"] = summary["Total Revenue"].astype(float).map("${:,.2f}".format)

   Player count  Purchases  Unique Items Average Item Price Total Revenue
0           576        780           179              $3.05     $2,379.77

In [33]:
summary_gender["Percent"] = summary_gender["Percent"].astype(float).map('{:.2%}'.format)

                  Gender  User Count Percent
0                 Female          81  14.06%
1                   Male         484  84.03%
2  Other / Non-Disclosed          11   1.91%

In [34]:
gendersummaryfinal["Avg Total Purchase per Person"] = gendersummaryfinal["Avg Total Purchase per Person"].astype(float).map("${:,.2f}".format)

<ipython-input-34-dad4c0c11672>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gendersummaryfinal["Avg Total Purchase per Person"] = gendersummaryfinal["Avg Total Purchase per Person"].astype(float).map("${:,.2f}".format)

In [35]:
gendersummaryfinal["Avg Purchase Price"] = gendersummaryfinal["Avg Purchase Price"].astype(float).map("${:,.2f}".format)

<ipython-input-35-a2c558455d07>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gendersummaryfinal["Avg Purchase Price"] = gendersummaryfinal["Avg Purchase Price"].astype(float).map("${:,.2f}".format)

In [36]:
gendersummaryfinal["Total Revenue"] = gendersummaryfinal["Total Revenue"].astype(float).map("${:,.2f}".format)

<ipython-input-36-8e098f816d63>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gendersummaryfinal["Total Revenue"] = gendersummaryfinal["Total Revenue"].astype(float).map("${:,.2f}".format)

In [37]:
# Warnings appear to be linked to Python version and dont affect result

,Gender,Purchase Count,Avg Purchase Price,Total Revenue,Avg Total Purchase per Person
0,Female,113,$3.20,$361.94,$4.47
1,Male,652,$3.02,"$1,967.64",$4.07
2,Other / Non-Disclosed,15,$3.35,$50.19,$4.56

In [38]:
agedemo["Percentage of Players"] = agedemo["Percentage of Players"].astype(float).map('{:.2%}'.format)

  Age Bucket  Total Count Percentage of Players
0        <10           17                 2.95%
1      10-14           22                 3.82%
2      15-19          107                18.58%
3      20-24          258                44.79%
4      25-29           77                13.37%
5      30-34           52                 9.03%
6      35-39           31                 5.38%
7        +40           12                 2.08%

In [39]:
purchase_count["Avg Purchase Price"] = purchase_count["Avg Purchase Price"].astype(float).map("${:,.2f}".format)
purchase_count["Total Purchase Value"] = purchase_count["Total Purchase Value"].astype(float).map("${:,.2f}".format)
purchase_count["Avg Total Purchase per Person"] = purchase_count["Avg Total Purchase per Person"].astype(float).map("${:,.2f}".format)

,Age Bucket,Purchase ID,Avg Purchase Price,Total Purchase Value,Avg Total Purchase per Person
0,<10,23,$3.35,$77.13,$4.54
1,10-14,28,$2.96,$82.78,$3.76
2,15-19,136,$3.04,$412.89,$3.86
3,20-24,365,$3.05,"$1,114.06",$4.32
4,25-29,101,$2.90,$293.00,$3.81
5,30-34,73,$2.93,$214.00,$4.12
6,35-39,41,$3.60,$147.67,$4.76
7,+40,13,$2.94,$38.24,$3.19

In [40]:
top_summary_sorted["Average Purchase Price"] = top_summary_sorted["Average Purchase Price"].astype(float).map("${:,.2f}".format)
top_summary_sorted["Total Purchase Value"] = top_summary_sorted["Total Purchase Value"].astype(float).map("${:,.2f}".format)

In [42]:
sorted_popular = sorted_popular.reset_index()
sorted_popular["Item Price"] = sorted_popular["Item Price"].astype(float).map("${:,.2f}".format)
sorted_popular["Total Purchase Value"] = sorted_popular["Total Purchase Value"].astype(float).map("${:,.2f}".format)

,Item ID,Item Name,Purchase Count,Item Price,Total Purchase Value
0,92,Final Critic,13,$4.61,$59.99
1,178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
2,145,Fiery Glass Crusader,9,$4.58,$41.22
3,132,Persuasion,9,$3.22,$28.99
4,108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
...,...,...,...,...,...
174,42,The Decapitator,1,$1.75,$1.75
175,51,Endbringer,1,$4.66,$4.66
176,118,"Ghost Reaver, Longsword of Magic",1,$2.17,$2.17
177,104,Gladiator's Glaive,1,$1.93,$1.93
178,91,Celeste,1,$4.17,$4.17

In [43]:
profitable["Item Price"] = profitable["Item Price"].astype(float).map("${:,.2f}".format)
profitable["Total Purchase Value"] = profitable["Total Purchase Value"].astype(float).map("${:,.2f}".format)

,,Item ID,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80
...,...,...,...,...
28,"Flux, Destroyer of Due Diligence",2,$1.06,$2.12
125,Whistling Mithril Warblade,2,$1.00,$2.00
126,Exiled Mithril Longsword,1,$2.00,$2.00
104,Gladiator's Glaive,1,$1.93,$1.93
42,The Decapitator,1,$1.75,$1.75

In [ ]:
print("----------------------------------------------------------------------------------------")
print("Heroes of Pymoli - Sales Summary")
print("----------------------------------------------------------------------------------------")

In [ ]:
summary

In [ ]:
summary_gender

In [ ]:
gendersummaryfinal

In [ ]:
agedemo

In [ ]:
purchase_count

In [ ]:
top_summary_sorted

In [ ]:
sorted_popular

In [ ]:
profitable